<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haley.water.mapper.ArticleMapper">

    <select id="selectAllArticle" resultType="com.haley.water.dto.ArticleDto" >
         select a.id,a.user_id,u.name,u.head,a.content,a.article_date,a.image
         from article a
         left join user u
         on a.user_id = u.id
         order by article_date desc
    </select>

</mapper>
